* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 15px;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --transparent-bg: rgba(255, 255, 255, 0.055);
  --filled-circle-bg: #262f38;
  --card-bg: linear-gradient(
    to bottom,
    var(--Dark-Blue),
    var(--Very-Dark-Blue)
  );
  color: var(--White);
  --filled-circle-width: 3.13rem;
}
body {
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  place-items: center;
  background: var(--Very-Dark-Blue);
}
main {
  width: 100%;
  max-width: 27.46rem;
  max-height: 26.29rem;
  background: var(--Dark-Blue);
  border-radius: 2em;
  padding: 2.06rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  position: relative;
  gap: 5rem;
  /* overflow: hidden; */
  box-shadow: inset 0 -10rem 30rem #00000077;
}
/* 
====================================
====================================
            rating UI 
====================================
====================================
*/
.rating-ui-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  display: none;
}
.filled-circle {
  width: var(--filled-circle-width);
  height: var(--filled-circle-width);
  background: var(--transparent-bg);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 2.26rem;
}
.rating-btn {
  width: var(--filled-circle-width);
  height: var(--filled-circle-width);
  background: var(--transparent-bg);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
button {
  color: var(--Light-Grey);
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 700;
  font-family: "Overpass", sans-serif;
}
.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.06rem;
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
p {
  color: var(--Light-Grey);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.86rem;
}
#submit-btn {
  width: 100%;
  height: 3rem;
  background: var(--Orange);
  color: var(--White);
  font-size: 1rem;
  border-radius: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
}
/* 
====================================
====================================
            success UI 
====================================
====================================
*/
.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  /* display: none; */
}
.rating-result {
  color: var(--Orange);
  background: var(--transparent-bg);
  padding: 0.5em 1em;
  border-radius: 1em;
}
